@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); } /* Adjusted to -100% for seamless looping */
}

.animate-marquee {
    display: flex;
    animation: marquee 20s linear infinite; /* Increased duration for smoother effect */
    white-space: nowrap; /* Prevents images from wrapping to the next line */
}

.no-scroll {
    overflow: hidden;
  }
  
  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
